:root {
    --cc-bg: #014A63;
    --cc-text: #fff;
    --cc-size: 1rem;
    --cc-distance: 1rem;
    --cc-maxWidth: 22em;
    --cc-borderRadius: 0;
    --cc-checkbox-color: #0f0;
    --cc-font-size: inherit;
    --cc-font-size-small: 0.85rem;
    --cc-line-height: inherit;
    --cc-acceptButtonBg: #fff;
    --cc-acceptButtonBgHover: #fff;
    --cc-acceptButtonText: #014A63;
    --cc-acceptButtonTextHover: #014A63;
    --cc-acceptButtonFontWeight: bold;
    --cc-acceptButtonBorderRadius: 9999px;
    --cc-acceptButtonBorderSize: 0;
    --cc-acceptButtonBorderColor: #fff;
    --cc-acceptButtonPadding: 0.75rem 1rem;
  }